:root {
    --white: #ffff;
    --black: #112B3C;
    --very-orange: #F66B0E;
    --text-input-field: #EFEFEF;
    --blue: #205375;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  .container-Nav{
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
    border-bottom: 1px solid var(--blue);
  }

  
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;

  } 

  .navbar-right ul li a{
    text-decoration: none;
    color: var(--blue);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-right ul li a:hover{
    text-decoration: none;
    color: var(--blue);
    border: 1px solid var(--very-orange);
    color: var(--very-orange);
  }


  /* Agregar icono burguer para el futuro */
  
  @media (max-width:640px){
   
   
  }


